:root {
    /* palette: chasm by dysphoriaa: https://lospec.com/palette-list/chasm */
    --blue-1: #85daeb;
    --blue-2: #5fc9e7;
    --blue-3: #5fa1e7;
    --blue-4: #5f6ee7;
    --blue-5: #4c60aa;
    --blue-6: #444774;

    --purple-1: #ca60ae;
    --purple-2: #ab58a8;
    --purple-3: #855395;
    --purple-4: #5d4776;
    --purple-5: #463c5e;
    --purple-6: #32313b;

    --orange: #f3a787;

    --yellow-1: #fdfe89;
    --yellow-2: #f5daa7;

    --green-1: #8dd894;
    --green-2: #5dc190;

    --cyan-1: #5efdf7;
    --cyan-2: #4593a5;
    --cyan-3: #4ab9a3;

    --pink: #ff5dcc;

    --white: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--purple-6);
    color: var(--white);
    font-size: 16pt;
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

button {
    border: 2px var(--white) solid;
    border-radius: 6px;
    background-color: var(--purple-2);
    padding: 0.25rem 1rem;
    color: var(--white);
    font-size: 16pt;
    font-family: monospace;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: var(--white);
    color: var(--purple-6);
    transform: scale(1.1);
}

button:disabled {
    opacity: 50%;
}

.game {
    width: 1600px;
    height: 900px;
    border: 4px var(--white) solid;
}

.completing-quests-frame {
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.points-list {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.stat-point-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px var(--white) solid;
    padding: 0.5rem;
    flex-grow: 1;
    background-color: var(--purple-6);
    border-radius: 4px;
}

.quests-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quest-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px var(--white) solid;
    border-radius: 6px;
    align-items: start;
    background-color: var(--purple-5);
    transition: color 0.3s, background-color 0.3s;
}

.quest-completed {
    color: var(--cyan-1);
    background-color: var(--blue-5);
}

.quest-title {
    font-weight: 700;
    font-size: 20pt;
}

.requirements-list {
    display: flex;
    gap: 1rem;
}

.pips {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.pip-row {
    display: flex;
    gap: 0.5rem;
}

.pip-row-header {
    background-color: var(--purple-6);
    border: 2px var(--white) solid;
    border-radius: 4px;
    padding: 0.25rem;
}

.pip-row-pips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.point-pip {
    width: 60px;
    height: 24px;
    border-right: 2px var(--white) solid;
    border-top: 2px var(--white) solid;
    border-bottom: 2px var(--white) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    opacity: 50%;
}

.fulfilled {
    opacity: 100%;
}

.completed {
    color: var(--cyan-1);
    background-color: var(--blue-5);
}

.point-pip:first-child {
    border-left: 2px var(--white) solid;
}

.pip-pink {
    background-color: var(--pink);
    content: url("img/black-diamond.svg")
}

.pip-yellow {
    background-color: var(--yellow-1);
    content: url("img/black-star.svg")
}

.pip-green {
    background-color: var(--green-1);
    content: url("img/black-triangle.svg");
}

.pip-blue {
    background-color: var(--blue-3);
    content: url("img/black-square.svg");
}

.pip-purple {
    background-color: var(--purple-3);
    content: url("img/black-parallelogram.svg");
}

.pip-white {
    background-color: var(--white);
    content: url("img/black-circle.svg");
}